# Core dependencies
fastapi==0.115.0
uvicorn[standard]==0.30.5
python-dotenv==1.0.1
pydantic==2.9.2
APScheduler==3.10.4
protobuf==4.25.1

# Google OAuth and API
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.142.0

# AI / ML
tensorflow==2.20.0


# OpenAI / Gemini
openai==1.51.0

# Streamlit (only if using UI locally)
streamlit==1.39.0

